<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Iolanda Ban Contexpert</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    
  </head>
 
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <h3 class="navbar-brand">Iolanda Ban Contexpert</h3>
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="main">Home</a>
                  </li>
                </ul>
            </div>
        </nav>
      </div>  

    <div class="container">
      <div class="jumbotron">
        <h1>Iolanda Ban Contexpert</h1>
        <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password">
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>

      <footer class="footer">
      </footer>
 
    </div>
  </body>
</html>
